@import "src/styles/variables";
@import "src/styles/mixins";

.setting-bar {
	@include bar;
	top: $bar-height;
	
	div {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		
		p {
			margin: 8px;
		}
	}
}

