@import "src/styles/variables";
@import "src/styles/mixins";

.toolbar {
	@include bar;
	z-index: 999;
	
	button {
		height: 24px;
		width: 24px;
		margin: 8px;
		border: none;
		outline: none;
		cursor: pointer;
		background-size: cover;
	}
	
	div {
		margin-left: auto;
	}
	
	.brush {
		background: url("../../assets/img/brush.svg") no-repeat center center;
	}
	
	.rect {
		background: url("../../assets/img/rect.svg") no-repeat center center;
	}
	
	.circle {
		background: url("../../assets/img/circle.svg") no-repeat center center;
	}
	
	.eraser {
		background: url("../../assets/img/eraser.svg") no-repeat center center;
	}
	
	.line {
		background: url("../../assets/img/line.svg") no-repeat center center;
	}
	
	.undo {
		background: url("../../assets/img/undo.svg") no-repeat center center;
	}
	
	.redo {
		background: url("../../assets/img/redo.svg") no-repeat center center;
	}
	
	.save {
		background: url("../../assets/img/save.svg") no-repeat center center;
	}
}